html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  .button {
    width: 80px;
    margin: 5px 5px 20px 5px;
    padding: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }

  .button:hover {
      box-shadow: inset 1px 1px 2px ;
  }